<html>
<head>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<style type="text/css">
#tabs
{font-size:0.8em;}
</style>
<script type="text/javascript">
$(document).ready(function() {

   $("#tabs").tabs();

});
</script>
</head>
<body>
<div id="tabs">
<ul>
<li><a href="#tabs-1">Медведи</a></li>
<li><a href="#tabs-2">Белки</a></li>
<li><a href="#tabs-3">Лисы</a></li>
</ul>
<div id="tabs-1">
<p><b>Медведи</b> (лат. Ursus) — род млекопитающих отряда хищных.</p>
<p>Согласно палеонтологическим сведениям, род медведей появился 5-6 миллионов лет назад. Первым его представителем в настоящее время считают медведя Ursus minimus — относительно небольшое животное, чьи ископаемые останки найдены на территории Франции. Все современные четыре вида рода, а также ряд вымерших (таких, например, как пещерный медведь Ursus spelaeus) происходят от этрусского медведя (Ursus etruscus), жившего 2-1 миллиона лет назад.</p>
<p>Самым молодым видом рода является белый медведь, который отделился от бурого медведя примерно 200 000 лет назад.</p>
</div>
<div id="tabs-2">
<p><b>Белки</b> (лат. Sciurus) — род грызунов семейства беличьих. Кроме собственно рода Sciurus, белками называют ещё целый ряд представителей семейства беличьих из родов бурундуковые белки (Tamiasciurus), пальмовые белки (Funambulus) и многих других. Что касается собственно рода Sciurus, то он объединяет в себя около 30 видов, распространённых в Европе, Северной и Южной Америке и в умеренном поясе Азии.</p>
<p>Имеет удлинённое тело с пушистым длинным хвостом, уши длинные, цвет темно-бурый с белым брюшком, иногда серый (особенно зимой). Водятся повсюду, кроме Австралии. Белка является источником ценного меха.</p>
</div>
<div id="tabs-3">
<p><b>Обыкновенная, или рыжая лисица</b> (лат. Vulpes vulpes) — хищное млекопитающее семейства псовых, наиболее распространённый и самый крупный вид рода лисиц. Длина тела 60—90 см, хвоста — 40—60 см, масса — 6—10 кг.</p>
<p>Окраска и размеры лисиц различны в разных местностях; всего насчитывают 40—50 подвидов, не учитывая более мелких форм. В общем, при продвижении на север лисицы становятся более крупными и светлыми, на юг — мелкими и более тускло окрашенными. В северных районах и в горах также чаще встречаются чёрно-бурые и другие меланистические формы окраски лисиц. Наиболее распространённый окрас: ярко-рыжая спина, белое брюхо, тёмные лапы. Внешне лисица представляет собой зверя среднего размера с изящным туловищем на невысоких лапах, с вытянутой мордой, острыми ушами и длинным пушистым хвостом.</p>
</div>
</div>
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(90884111, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/90884111" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>